# Name: Spinalcord_Mapper# Description: This plugin is for Image Analysis of spinal cord section# Author: Nicolas Stifani nstifani@gmail.com# Version: 1.0# Date: 2016/12/01# Requires: ImageJ 1.50fPlugins>Spinalcord Mapper, "Spinalcord Mapper Toolbar", Action_Bar("jar:file:Spinalcord_Mapper.jar!/Macros/Spinalcord_Mapper_Toolbar.txt")Plugins>Spinalcord Mapper, "SC Registration", Spinalcord_Mapper("SC Registration")Plugins>Spinalcord Mapper, "Cell Detection", Spinalcord_Mapper("Cell Detection")Plugins>Spinalcord Mapper, "Spinalcord Mapper Toggle Autostart", Spinalcord_Mapper("Spinalcord Mapper Toggle Autostart")